<a href="https://colab.research.google.com/github/achugv2002/ict_internship/blob/main/day2/Day2_internship_numpy_and_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=[1234]
list2=[5678]

print(list1+list2)

sum_1=[]
for num1,num2, in zip(list1,list2):
  sum_1.append(num1+num2)
sum_1

[1234, 5678]

[6912]

**Numpy**

In [ ]:
import numpy as np

In [ ]:
arr1=np.array(list1)

In [ ]:
arr1

array([1234])

In [ ]:
arr2=np.array(list2)

In [ ]:
arr2

array([5678])

In [ ]:
sum_l1=arr1+arr2

In [ ]:
sum_l1

array([6912])

In [ ]:
type(arr1)

numpy.ndarray

In [ ]:
arr1.ndim

1

In [ ]:
list3=[[2,3,4],[5,6,8]]

In [ ]:
arr3=np.array(list3)

In [ ]:
arr3.ndim

2

In [ ]:
arr3.shape

(2, 3)

In [ ]:
arr4=np.arange(6)

In [ ]:
arr4

array([0, 1, 2, 3, 4, 5])

In [ ]:
arr5=arr4.reshape(2,3)

In [ ]:
arr5

array([[0, 1, 2],
       [3, 4, 5]])

In [ ]:
arr4.sum()

15

In [ ]:
arr4.mean()

2.5

In [ ]:
np.median(arr4)

2.5

In [ ]:
arr5

array([[0, 1, 2],
       [3, 4, 5]])

In [ ]:
np.sqrt(arr5)

array([[0.        , 1.        , 1.41421356],
       [1.73205081, 2.        , 2.23606798]])

In [ ]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
np.random.rand(3,4)

array([[0.54695336, 0.03967243, 0.81343589, 0.76668061],
       [0.48921387, 0.10267362, 0.47779786, 0.7669855 ],
       [0.58381245, 0.45147248, 0.80292905, 0.92917277]])

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/auto-mpg.csv')

In [ ]:
data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10